{% comment %}Shared publication list for the About and Publications pages.{% endcomment %}
<div class="publications-list">
  {% for publication in site.data.publications %}
  <article class="publication" itemscope itemtype="https://schema.org/ScholarlyArticle">
    <div class="publication-meta">
      <span class="publication-year" itemprop="datePublished">{{ publication.year }}</span>
      <span class="publication-venue"><i itemprop="publicationVenue">{{ publication.venue }}</i></span>
      {% if publication.first_author %}
      <span class="publication-role">First author</span>
      {% endif %}
    </div>
    <h3 class="publication-title" itemprop="headline">{{ publication.title }}</h3>
    <p class="publication-authors">
      {%- for author in publication.authors -%}
        {%- if author == "Junteng Liu" -%}
          <strong itemprop="author">{{ author }}</strong>
        {%- else -%}
          <span itemprop="author">{{ author }}</span>
        {%- endif -%}
        {%- unless forloop.last %}, {% endunless -%}
      {%- endfor %}
    </p>
    {% if publication.code_repository %}
    <p class="publication-code">GitHub code repository: <span>{{ publication.code_repository }}</span></p>
    {% endif %}
  </article>
  {% endfor %}
</div>
